<!DOCTYPE html>
<html lang="en">
<head>
  <title>Interact</title>
  <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhXur6FztVZ11vbL00_9y6xjdihDvGRdADHw&s"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  
  <div class="header">
    <div class="search">
      <div class = "input-icons">
          <input class="input-field ord2" type="text" placeholder="Search.." name="search">
          <button  class = "ord1" onclick="alert('Button clicked!');"> <i class="fa fa-search icon"></i></button>
      </div>
    </div>
    <div class="search">
    <div>
      <a href="{{ url_for('index') }}" class="icon-button">
          <i class="fa-solid fa-house"></i>
          <h4>Home</h4>
      </a>
    </div>
    <div>
      <a href="{{ url_for('index') }}" class="icon-button">
        <i class="fa-solid fa-user-group"></i>
        <h4>Networks</h4>
      </a>
    </div>
    <div>
    <a href="{{ url_for('index') }}" class="icon-button">
      <i class="fa-solid fa-message"></i>
      <h4>Messaging</h4>
    </a>
    </div>
    <div>
      <a href="{{ url_for('index') }}" class="icon-button">
        <i class="fa-solid fa-bell"></i>
        <h4>Notification</h4>
      </a>
    </div>
     <div>
       <a href="/profile" class="icon-button">
         <i class="fa-solid fa-id-card"></i>
         <h4>Profile</h4>
       </a>
     </div>
       <div>
         <a href="/My_posts" class="icon-button">
         <i class="fa-solid fa-signs-post"></i>
          <h4>My Posts</h4>
         </a>
       </div>
      <div>
        <a href="/Logout" class="icon-button">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <h4>Logout</h4>
      </a>
      </div>
    </div>
  </div>
{%if where == "post"%}
  <br>
  <div class="post_cover">
      <div class="post">
          <div class="title">
              <h3 style="text-align:center;">{{post[2]}}</h3>
          </div>

        {% if post[0] == user %}
         <a href="/profile" style="text-decoration:none">
          <h4 style="margin-left:1%;color:#aeafb0"><b>You posted</b></h4>
         </a>
        {% else %}
        <a href="/profile?userid={{post[0]}}" style="text-decoration:none">
          <h4 style="margin-left:1%;color:#aeafb0"><b>Post by {{post[0]}} {% if post[0] in following %} (Following){% endif %}</b></h4>
        </a>
        {% endif %}
        <p style="margin-top:5px;margin-left:30px;">{{post[3]}}</p>
          <form  method="POST">
            <button style="margin-top:10px;margin-left:1.5%; float: right; background-color: transparent; border: none; margin-bottom:1%;" formaction="/comments">
              <i class="fa-regular fa-comment"></i>
              <h5>Comments</h5>
              </button>
              <input type="hidden" name="postId" value="{{ post[1] }}">
          </form>
        <button id="likeButton{{ post[1] }}" onclick="changeColor(event, {{ post[1] }})" style="float: right; background-color: transparent; border: none; margin-bottom:1%;">
            <i id="like{{ post[1] }}" class="fa-solid fa-heart"></i>
            <h5>Like</h5>
        </button>
        {% if post[0] not in following and post[0] != user%}
          <button  userId = "{{post[0]}}" style="margin-right:2%;float: right; background-color: transparent; border: none; margin-bottom:1%;" onclick="processFollowRequest(this,'follow')">
              <i class="fa-solid fa-plus"></i>
              <h5>Follow</h5>
          </button>
        {% endif %}
        <button style="margin-right:2%;float: right; background-color: transparent; border: none; margin-bottom:1%;" onclick="copyPost('{{post[1]}}')">
            <i class="fa-solid fa-share"></i>
            <h5>Share</h5>
        </button>
      </div>
  </div>
{% endif %}
{%if where =="index"%}  
  <button  onclick="refreshPage()" class="btn sticky" id="updates" type="button" style="display:none"><i class="fa-solid fa-angle-up"></i> Updates</button>
  
  {% for post in posts %}
  <br>
  <div class="post_cover">
      <div class="post">
          <div class="title">
              <h3 style="text-align:center;">{{post[2]}}</h3>
          </div>
        
        {% if post[0] == user %}
         <a href="/profile" style="text-decoration:none">
          <h4 style="margin-left:1%;color:#aeafb0"><b>You posted</b></h4>
         </a>
        {% else %}
        <a href="/profile?userid={{post[0]}}" style="text-decoration:none">
          <h4 style="margin-left:1%;color:#aeafb0"><b>Post by {{post[0]}} {% if post[0] in following %} (Following){% endif %}</b></h4>
        </a>
        {% endif %}
        <p style="margin-top:5px;margin-left:30px;">{{post[3]}}</p>
          <form  method="POST">
            <button style="margin-top:10px;margin-left:1.5%; float: right; background-color: transparent; border: none; margin-bottom:1%;" formaction="/comments">
              <i class="fa-regular fa-comment"></i>
              <h5>Comments</h5>
              </button>
              <input type="hidden" name="postId" value="{{ post[1] }}">
          </form>
        <button id="likeButton{{ post[1] }}" onclick="changeColor(event, {{ post[1] }})" style="float: right; background-color: transparent; border: none; margin-bottom:1%;">
            <i id="like{{ post[1] }}" class="fa-solid fa-heart"></i>
            <h5>Like</h5>
        </button>
        {% if post[0] not in following and post[0] != user%}
          <button  userId = "{{post[0]}}" style="margin-right:2%;float: right; background-color: transparent; border: none; margin-bottom:1%;" onclick="processFollowRequest(this,'follow')">
              <i class="fa-solid fa-plus"></i>
              <h5>Follow</h5>
          </button>
        {% endif %}
        <button style="margin-right:2%;float: right; background-color: transparent; border: none; margin-bottom:1%;" onclick="copyPost('{{post[1]}}')">
            <i class="fa-solid fa-share"></i>
            <h5>Share</h5>
        </button>
      </div>
  </div>
  {% endfor %}
  <button class="btn stickyLeft" id="copied" type="button" style="display:none" >Link Copied!!!</button>
{% endif %}
  
{% if name == "profile" %}
  
  <div class= "container">
    <div>
      <div class="wrapper">
        <div class="title">{% if not otherUser %}Your{% endif %} Profile</div>
        <form style="padding:30px 30px 30px 30px;">
          <div class="profile-container">
          <div>  
          <img src = "{{image}}" alt = "image" width = "120" height = "120" style="border-radius: 100%;" ></div>
          <div>  
          <h3>First Name: {{first}}</h3>
          <h3>Last Name : {{last}}</h3>
          <h3>Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{phone}}</h3>
          <h3>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{email}}</h3>
          <h3>Followers&nbsp;&nbsp;: {{followerCount}}</h3>
          </div>
            {% if not otherUser %}
            <div><button class="btn" type="button" onclick="openForm()" style="margin-top:16%;">Create Post</button></div>
            {% else %}
              {% if isFollowing %}
              <div><button userid = "{{email}}" class="btn" type="button" onclick="processFollowRequest(this,'unfollow')" style="margin-top:16%;">unfollow</button></div>
              {% else %}
                 <div><button userid = "{{email}}" class="btn" type="button" onclick="processFollowRequest(this,'follow')" style="margin-top:16%;">Follow</button></div>
              {% endif %}
            {% endif %}
          </div>  
        </form>
      </div>
          <br>
    </div>
    <div>
        <br>
      {% if not otherUser %}
      <div class="wrapper1">
        <form>
            <a href="/delete" style="color: red;"><h3>Delete Account </h3></a>
        </form>
      </div>
      {% endif %}
    </div>  
  </div>

  <div class="form-popup" id="myForm">
    <form action="/save_post" method="POST" class="form-container">
      <h1>Create Post</h1>
      <br>
      <label><h2>Title</h2>
      <br>  
      <input type="text" placeholder="Title for Post" name="title" required>

      <label><h2>Content</h2></label>
      <br>  
        <textarea name="post" rows="10" cols="50" required></textarea>

      <button type="submit"  class="btn">Post</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>
  {% endif %}
  {%if name == "Saved"%}
    {% for post in posts %}
      <br>  
      <div class="post_cover">
      <div class="post">
        <div class="title"><h3 style="text-align:center;">{{post[2]}}</h3></div>
        <br>
        <h4 style="margin-left:1%;color:#c2c3c5"><b>Post by {{who}}</b></h4>
        <br>
        <p style="padding-left:4%;padding-right:4%;">{{post[3]}}</p>
        <div class="container2">
            <div>
                <form action="/delete-post" method="POST">
                  <button style="background-color: transparent; border: none;"><i class="material-icons" style="color:red;">delete</i></button>
                    <input type="hidden" name="postId" value="{{ post[1] }}">
                </form>
            </div>
            <div>
                <form action="/comments_on_my_post" method="POST">
                  <button style="background-color: transparent; border: none; margin-bottom:1%;">
                    <i class="fa-regular fa-comment"></i>
                    <h5>Comments</h5>
                    </button>
                    <input type="hidden" name="postId" value="{{ post[1] }}">
                </form>
            </div>
        </div>
      </div>
      </div>  
    {% endfor %}
  {%endif%}

  {% if name == "comments"%}
  <div class= "container">
    <div>
    <div class="wrapper">
      <div class="title">Comments</div>
      {%for comment in comments%}
      <form>
        <br> 
          <h3 style="margin-left:1%;color:grey"><b>{{comment[0]}}</b></h3>
        <br>  
          <p style="margin-left:10%;">{{comment[2]}}</p>
      </form>
      {%endfor%}
      {%if create %}
      <form action="/insert_comments" method="POST">
        <input type="text" class="tagsInput" name="comment" placeholder="Your comment" style="border-radius:10px 10px 10px 10px;"><button class="btn" type = "submit" style="padding-left:10px; margin: 6px 0;padding: 5px; flex:1 ; min-width: 100px;">send</button>
      </form>
     {%endif%} 
    </div>
    </div>
  </div>
  {%endif%}
  
  <script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}

    function changeColor(event, postId) {
        event.preventDefault();
        const button = document.getElementById('likeButton' + postId);
        const icon = document.getElementById('like' + postId);
        if (button.style.color === 'red') {
            button.style.color = 'black';
            localStorage.setItem('liked_' + postId, 'false');
        } else {
            button.style.color = 'red';
            localStorage.setItem('liked_' + postId, 'true');
        }
    }
    function processFollowRequest(ref,type){
      let http = new XMLHttpRequest(),
          url = '/follow',
          userId = ref.getAttribute("userid"),
          params = `?userId=${userId}&type=${type}`;
      http.open('POST', url+params, true);
      http.onreadystatechange = function() {
          if(http.readyState == 4 && http.status == 200) {
              location.reload();
          }
      }
      http.send();
    }
    setTimeout(()=>{
      let updatesBtn = document.querySelector("#updates");
      if(updatesBtn){
        updatesBtn.style.display = "inline";
      }
    },10000);
    function refreshPage(){
      location.reload();
    }
    function copyPost(postId){
      navigator.clipboard.writeText(window.location.origin+"/post?id="+postId);
      let copiedBtn = document.querySelector("#copied");
      copiedBtn.style.display = "inline";
      setTimeout(()=>{
        copiedBtn.style.display = "none";
      },2000);
    }
  </script>
</body>
</html>